.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    color: var(--gray-200);
    border-radius: 8px;
    border: none;
    background: var(--blue-700);
    gap: 0.2rem;
    width: 5rem;
    height: 3.25rem;
}